<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <script th:src="@{/js/community.js}"></script>
    <footer class="bs-docs-footer">
        <div class="container">
            <ul class="bs-docs-footer-links list-unstyled list-inline text-left">
                <li><a href="https://youmunan.top">主页</a></li>
                <li><a href="https://github.com">GitHub</a></li>
            </ul>

            <p class="text-left">这是一个交流开发问题的社区，您可以在此发表问题</p>
            <p class="text-left">欢迎访问个人主页<a href="https://youmunan.top" target="_blank">开发笔记</a></p>
            <p class="text-left"><a href="http://www.beian.miit.gov.cn/" target="_blank">赣ICP备20004852号-1</a></p>
        </div>
    </footer>
</div>
</body>
</html>